.header {
  display: flex;
  position: fixed;
  flex-direction: row;
  height: 50px;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 0 10%;
  z-index: 5;
}

.logo {
  z-index: 5;
  cursor: pointer;
}

.custom-shape-divider-top-1630919971 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 4;
}

.custom-shape-divider-top-1630919971 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.custom-shape-divider-top-1630919971 .shape-fill {
  fill: #ffffff;
}

.optionsContainer {
  display: flex;
}

.navImg {
  background-position: center;
  background-size: cover;
  width: 22px;
  height: 22px;
}

.navContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background: #131313;
}

.navContainer .fas {
  font-size: 20px;
}

a {
  color: white;
}
