body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profileOuterContainer {
  color: white;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: white;
  object-fit: cover;
  background-position: top;
  margin-bottom: 10px;
}

.editImg {
  width: 70px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.userProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.followContainer {
  display: flex;
  margin-top: 20px;
}

.followContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  width: 80px;
}

.followers,
.following {
  cursor: pointer;
}

.editProfile,
.logout {
  margin: 10px;
  border: 1px solid white;
  border-radius: 2px;
  background: transparent;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.logout {
  color: red;
  border: 1px solid red;
}

.logout:hover {
  background: red;
  color: white;
}

.editProfile:hover {
  background: white;
  color: black;
}

.editProfileOuter {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.editProfileOuter.active {
  display: flex;
}

.editProfileInner {
  position: relative;
  width: 50%;
  min-width: 320px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.firstNameContainer,
.lastNameContainer,
.emailContainer,
.usernameContainer,
.passwordContainer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20%;
}

.firstNameContainer input,
.lastNameContainer input,
.emailContainer input,
.usernameContainer input,
.passwordContainer input {
  width: 200px;
  padding: 5px 0;
}

.fa-times {
  font-size: 20px;
}

.follow {
  padding: 10px 10px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  width: 330px;
  margin-top: 20px;
  cursor: pointer;
}

.profileInnerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fa-trash-alt {
  position: absolute;
  background: transparent;
  border: none;
  top: 60px;
  right: 12px;
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px 10px black;
  cursor: pointer;
}

.followOuter {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.followOuter.active {
  display: flex;
}

.followInner {
  padding: 10px;
  color: black;
  position: relative;
  width: 320px;
  height: 500px;
  background: white;
  overflow-y: scroll;
}

.followClose {
  font-size: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.followHeading {
  font-size: 20px;
}

.headContainer {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.followProfile {
  width: 40px;
}

.user {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.imgContainer {
  display: flex;
}

.usernameDpChange {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.saveChanges {
  background: white;
  color: black;
  border: none;
  border-radius: 0;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  transition: 0.3s ease;
}

.saveChanges:hover {
  background: black;
  color: white;
}

@media screen and (max-width: 1002px) {
  .firstNameContainer,
  .lastNameContainer,
  .emailContainer,
  .usernameContainer,
  .passwordContainer {
    flex-direction: column;
  }
}
